In [29]:
#Importar pandas para iniciar con la limpieza de datos

import pandas as pd

In [30]:
# Cargar mi archivo CSV en un DataFrame de Pandas

df = pd.read_csv("IED_Boyaca_Internet_source.csv")

In [31]:
#Mostrar el numero de filas y el numero de columnas de mi Data Frame

df.shape

(2006, 19)

In [32]:
# Mostrar un resumen de mi Data Frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CÓDIGO DEPARTAMENTO                2006 non-null   int64
 1   DEPARTAMENTO                       2006 non-null   object
 2   PROVINCIA                          2006 non-null   object
 3   CÓDIGO MUNICIPIO                   2006 non-null   int64
 4   MUNICIPIO                          2006 non-null   object
 5   CODIGO DANE INSTITUCION EDUCATIVA  2006 non-null   int64
 6   NOMBRE INSTITUCION EDUCATIVA       2006 non-null   object
 7   CODIGO DANE SEDE                   2006 non-null   int64
 8   NOMBRE SEDE EDUCATIVA              2006 non-null   object
 9   ZONA                               2006 non-null   object
 10  PROYECTOS DE CONECTIVIDAD 2024     2006 non-null   object
 11  OPERADOR                           2006 non-null   object
 12  ESTADO                             2006 non-null   object
 13  MEDIO DE ENLACE                    123 non-null    object
 14  ANCHO DE BANDA DE SUBIDA (MB)      804 non-null    float64
 15  ANCHO DE BANDA DESCARGA (MB)       1104 non-null   float64
 16  FINALIZACIÓN DEL CONTRATO          1104 non-null   object
 17  LATITUD                            1926 non-null   float64
 18  LONGITUD                           1926 non-null   float64
dtypes: float64(4), int64(4), object(11)
memory usage: 297.9+ KB

In [39]:
#Eliminamos algunas columnas innecesarias para el analisis y guardar el resultado en un nuevo DataFrame llamado df_cleaned

df_cleaned = df.drop(columns=["CÓDIGO DEPARTAMENTO","DEPARTAMENTO", "CÓDIGO MUNICIPIO", "CODIGO DANE INSTITUCION EDUCATIVA", "CODIGO DANE SEDE"])

In [34]:
# Mostrar nuevamente el resumen de mi Data Frame para validar que se han eliminado las columnas innecesarias 

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   PROVINCIA                       2006 non-null   object
 1   MUNICIPIO                       2006 non-null   object
 2   NOMBRE INSTITUCION EDUCATIVA    2006 non-null   object
 3   NOMBRE SEDE EDUCATIVA           2006 non-null   object
 4   ZONA                            2006 non-null   object
 5   PROYECTOS DE CONECTIVIDAD 2024  2006 non-null   object
 6   OPERADOR                        2006 non-null   object
 7   ESTADO                          2006 non-null   object
 8   MEDIO DE ENLACE                 123 non-null    object
 9   ANCHO DE BANDA DE SUBIDA (MB)   804 non-null    float64
 10  ANCHO DE BANDA DESCARGA (MB)    1104 non-null   float64
 11  FINALIZACIÓN DEL CONTRATO       1104 non-null   object
 12  LATITUD                         1926 non-null   float64
 13  LONGITUD                        1926 non-null   float64
dtypes: float64(4), object(10)
memory usage: 219.5+ KB

In [42]:
#Renombrar algunas columnas de mi Data Frame

#NOMBRE INSTITUCION EDUCATIVA
df_cleaned.rename(columns={'NOMBRE INSTITUCION EDUCATIVA': 'INSTITUCION_EDUCATIVA'}, inplace=True)

#NOMBRE SEDE EDUCATIVA
df_cleaned.rename(columns={'NOMBRE SEDE EDUCATIVA': 'SEDE_EDUCATIVA'}, inplace=True)

#PROYECTOS DE CONECTIVIDAD 2024
df_cleaned.rename(columns={'PROYECTOS DE CONECTIVIDAD 2024': 'PROYECTOS_CONECTIVIDAD_2024'}, inplace=True)

#MEDIO DE ENLACE
df_cleaned.rename(columns={'MEDIO DE ENLACE': 'MEDIO_ENLACE'}, inplace=True)

#ANCHO DE BANDA DE SUBIDA (MB)
df_cleaned.rename(columns={'ANCHO DE BANDA DE SUBIDA (MB)': 'ANCHO_BANDA_SUBIDA_MB'}, inplace=True)

#ANCHO DE BANDA DESCARGA (MB)
df_cleaned.rename(columns={'ANCHO DE BANDA DESCARGA (MB)': 'ANCHO_BANDA_DESCARGA_MB'}, inplace=True)

#FINALIZACIÓN DEL CONTRATO
df_cleaned.rename(columns={'FINALIZACIÓN DEL CONTRATO': 'FINALIZACION_CONTRATO'}, inplace=True)

In [ ]:
#Mostrar un resumen de mi Data Frame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PROVINCIA                    2006 non-null   object
 1   MUNICIPIO                    2006 non-null   object
 2   INSTITUCION_EDUCATIVA        2006 non-null   object
 3   SEDE_EDUCATIVA               2006 non-null   object
 4   ZONA                         2006 non-null   object
 5   PROYECTOS_CONECTIVIDAD_2024  2006 non-null   object
 6   OPERADOR                     2006 non-null   object
 7   ESTADO                       2006 non-null   object
 8   MEDIO_ENLACE                 123 non-null    object
 9   ANCHO_BANDA_SUBIDA_MB        804 non-null    float64
 10  ANCHO_BANDA_DESCARGA_MB      1104 non-null   float64
 11  FINALIZACION_CONTRATO        1104 non-null   object
 12  LATITUD                      1926 non-null   float64
 13  LONGITUD                     1926 non-null   float64
dtypes: float64(4), object(10)
memory usage: 219.5+ KB

In [ ]:
#Reemplazar en la columnna "Medio Enlace" los valores vacios por "NA"
df_cleaned['MEDIO_ENLACE'] = df_cleaned['MEDIO_ENLACE'].fillna("NA")

In [ ]:
#Mostrar los datos de la columna "Medio Enlace" en forma alfabetica
sorted(df_cleaned.MEDIO_ENLACE.unique())

['FIBRA', 'NA', 'RADIO ENLACE', 'SATELITAL']

In [61]:
#Reemplazar en la columnna "ANCHO DE BANDA DE SUBIDA" los valores vacios por "NA"
df_cleaned['ANCHO_BANDA_SUBIDA_MB'] = pd.to_numeric(df_cleaned["ANCHO_BANDA_SUBIDA_MB"], errors='coerce')
df_cleaned["ANCHO_BANDA_SUBIDA_MB"] = df_cleaned["ANCHO_BANDA_SUBIDA_MB"].fillna(0).astype(int)

In [64]:
#Reemplazar en la columnna "ANCHO DE BANDA DE DESCARGA" los valores vacios por "NA"
df_cleaned['ANCHO_BANDA_DESCARGA_MB'] = pd.to_numeric(df_cleaned["ANCHO_BANDA_DESCARGA_MB"], errors='coerce')
df_cleaned["ANCHO_BANDA_DESCARGA_MB"] = df_cleaned["ANCHO_BANDA_DESCARGA_MB"].fillna(0).astype(int)

In [51]:
#Reemplazar en la columnna "FINALIZACION DE CONTRATO" los valores vacios por "NA"
df_cleaned['FINALIZACION_CONTRATO'] = df_cleaned['FINALIZACION_CONTRATO'].fillna("NA")

In [53]:
#Reemplazar en la columnna "LATITUD" los valores vacios por "NA"
df_cleaned['LATITUD'] = df_cleaned['LATITUD'].fillna("NA")

In [52]:
#Reemplazar en la columnna "LONGITUD" los valores vacios por "NA"
df_cleaned['LONGITUD'] = df_cleaned['LONGITUD'].fillna("NA")

In [65]:
#Mostrar un resumen de mi Data Frame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PROVINCIA                    2006 non-null   string
 1   MUNICIPIO                    2006 non-null   string
 2   INSTITUCION_EDUCATIVA        2006 non-null   string
 3   SEDE_EDUCATIVA               2006 non-null   string
 4   ZONA                         2006 non-null   string
 5   PROYECTOS_CONECTIVIDAD_2024  2006 non-null   string
 6   OPERADOR                     2006 non-null   string
 7   ESTADO                       2006 non-null   string
 8   MEDIO_ENLACE                 2006 non-null   string
 9   ANCHO_BANDA_SUBIDA_MB        2006 non-null   int64
 10  ANCHO_BANDA_DESCARGA_MB      2006 non-null   int64
 11  FINALIZACION_CONTRATO        2006 non-null   object
 12  LATITUD                      2006 non-null   object
 13  LONGITUD                     2006 non-null   object
dtypes: int64(2), object(3), string(9)
memory usage: 219.5+ KB

In [71]:
# Ajustar de tipos de datos para futuros analisis y mostrar su ajuste en el Data Frame

df_cleaned['PROVINCIA'] = df_cleaned['PROVINCIA'].astype('string')
df_cleaned['MUNICIPIO'] = df_cleaned['MUNICIPIO'].astype('string')
df_cleaned['INSTITUCION_EDUCATIVA'] = df_cleaned['INSTITUCION_EDUCATIVA'].astype('string')
df_cleaned['SEDE_EDUCATIVA'] = df_cleaned['SEDE_EDUCATIVA'].astype('string')
df_cleaned['ZONA'] = df_cleaned['ZONA'].astype('string')
df_cleaned['PROYECTOS_CONECTIVIDAD_2024'] = df_cleaned['PROYECTOS_CONECTIVIDAD_2024'].astype('string')
df_cleaned['OPERADOR'] = df_cleaned['OPERADOR'].astype('string')
df_cleaned['ESTADO'] = df_cleaned['ESTADO'].astype('string')
df_cleaned['MEDIO_ENLACE'] = df_cleaned['MEDIO_ENLACE'].astype('string')
df_cleaned['ANCHO_BANDA_SUBIDA_MB'] = df_cleaned['ANCHO_BANDA_SUBIDA_MB'].astype('float')
df_cleaned['ANCHO_BANDA_DESCARGA_MB'] = df_cleaned['ANCHO_BANDA_DESCARGA_MB'].astype('int')
df_cleaned['LATITUD'] = df_cleaned['LATITUD'].astype('string')
df_cleaned['LONGITUD'] = df_cleaned['LONGITUD'].astype('string')

In [72]:
# Mostrar un resumen de mi Data Frame, para validar las columnas, y cantidad de filas, y el tipo de datos que tenemos listo para analizar

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2006 entries, 0 to 2005
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   PROVINCIA                    2006 non-null   string
 1   MUNICIPIO                    2006 non-null   string
 2   INSTITUCION_EDUCATIVA        2006 non-null   string
 3   SEDE_EDUCATIVA               2006 non-null   string
 4   ZONA                         2006 non-null   string
 5   PROYECTOS_CONECTIVIDAD_2024  2006 non-null   string
 6   OPERADOR                     2006 non-null   string
 7   ESTADO                       2006 non-null   string
 8   MEDIO_ENLACE                 2006 non-null   string
 9   ANCHO_BANDA_SUBIDA_MB        2006 non-null   float64
 10  ANCHO_BANDA_DESCARGA_MB      2006 non-null   int64
 11  FINALIZACION_CONTRATO        1104 non-null   datetime64[ns]
 12  LATITUD                      2006 non-null   string
 13  LONGITUD                     2006 non-null   string
dtypes: datetime64[ns](1), float64(1), int64(1), string(11)
memory usage: 219.5 KB

In [73]:
# Guardar el nuevo Data Frame con los ajustes realizados en un archivo CSV

df_cleaned.to_csv("IED_Boyaca_Internet_clean.csv", index=False)

print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.